@model IEnumerable<Showcase.Models.ProjectModel>
@{
    ViewData["Title"] = "Projects";
}

@section css {
    @* <link href="@Url.Content("~/css/project.css")" rel="stylesheet" type="text/css" /> *@
}

<div>
    <div>
        <h1>Available Condo Projects:</h1>
        <div id="grid-container" class="col-sm row">
                @foreach (ProjectModel pm in Model)
                {
                    <partial name="_DisplayProjectsPartial" model="@pm" />
                }
        </div>
    </div>