@model Showcase.Models.Custom.BuilderProjects
@{
    ViewData["Title"] = "Projects by this builder";
}

@section css {
    <link href="@Url.Content("~/css/BuilderProjects.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <h1>Projects by @Model.builder.BuilderName :</h1>
    <div id="grid-container" class="col-sm row">
        @foreach (var pm in @Model.projects)
        {
            <partial name="_DisplayProjectsPartial" model="@pm" />
        }
    </div>

</div>